body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f6f5f5;
    color: #393939;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    min-height: 100vh;
}

a {
    color: #6a6a6a;
    text-decoration: none;
}

span {
    border-bottom: 1px solid;
}

a:hover {
    color: #2711d9;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

form {
    display: inline-block;
}

.container {
    display: flex;
    padding-left: 4rem;
    padding-right: 4rem;
}

/*.admin-panel__header {*/
    /*display: grid;*/
    /*margin-bottom: 4rem;*/
    /*background-color: #dcdcdc;*/
/*}*/

/*@media (min-width: 768px) {*/
    /*.admin-panel__header {*/
        /*grid-template-columns: 40fr 7fr 7fr 8fr 7fr 7fr 7fr;*/
    /*}*/
/*}*/

/*@media (max-width: 767px) {*/
    /*.admin-panel__header {*/
        /*grid-template-rows: 0.5fr;*/
    /*}*/
/*}*/


.admin-panel__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    background-color: #ffffff;
}

.admin-panel__logo {
    margin-right: auto;
    padding: 2rem 1rem;
    font-weight: bold;
}


.admin-panel__link {
    padding: 2rem 1rem;
}

.admin-panel__settings {
    padding: 2rem 1rem;
}

.admin-panel__main {
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.admin-panel__blocks {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 3rem;
    margin: 1rem;
    height: 50vh;
}

.settings__blocks {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 3rem;
    margin: 1rem;
    height: 85vh;
}

.reports__blocks {
    display: grid;
    grid-template-columns: 40fr 10fr;
    grid-gap: 3rem;
    height: 85vh;
}

.admin-panel__block {
    overflow-y: scroll;
    background-color: #FFFFFF;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.admin-panel__title {
    display: block;
    position: sticky;
    top: 0;
    padding: .5rem 0 0 .5rem;
    color: #000;
    font-weight: 600;
    background-color: #FFFFFF;
    z-index: 2;
}

.admin-panel__content {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}

.reports-panel__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1rem 1rem;
}

/*Dropdown*/
.dropbtn {
    font-family: 'Roboto Mono', monospace;
    font-size: .8rem;
    border: none;
    background:none;
    cursor: pointer;
    z-index: 1;
    font-weight: bold;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    width: 98%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    left: 0;
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 160px;
    border: 1px solid #6a6a6a;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    border: none;
}

/*table*/
table {
    max-width: 100%;
    width: 100%;
    border-collapse: collapse;
    font-size: .8rem;
    line-height: 1.6em;
    letter-spacing: -1px;
    /*border: 1px solid;*/
}


thead {
    /*border-bottom: 1px solid;*/
    background-color: #a0a0a0;
}

tr {
    background-color: #cfcfcf8f;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}



td {
    border-right: 1px solid #cfcfcf8f;
    text-align: center;
}

td:last-child {
    border-right: none;
}

td, th {
    padding: .2rem .2rem;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 17px;
    }

    table thead {
        display: none;
    }

    table tr {
        display: block;
        margin-bottom: .625em;
    }

    table td {
        display: block;
        text-align: right;
    }

    table td:before {
        content: attr(aria-label);
        float: left;
    }

    table td:last-child {
        text-align: right !important;
        width: auto !important;
        border-bottom: 0;

    }
}

/*Form*/
.login-form__logo {
    padding: 1rem 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.form input {
    font-family: 'Roboto Mono', monospace;
    outline: 1px solid;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 1rem;
    box-sizing: border-box;
    font-size: 14px;
}

.login-page__button {
    display: inline-block;
    width: 89%;
    font-family: 'Roboto Mono', monospace;
    outline: 1px solid;
    background-color: #77b6a287;
    border: 0;
    padding: 15px;
    font-size: 1rem;
    transition: all 0.3 ease;
    cursor: pointer;
}

.login-page__button:hover, .login-page__button button:active, .login-page__button:focus {
    background-color: #0093648c;
}

.form .message {
    margin: 15px 0 0;
    font-size: 12px;
}

.form .message a {
    color: #29c9f2;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

.settings__time-and-date {
    margin: 1rem 0;
}

.settings__title {
    padding: 0 .5rem;
    font-size: .8rem;
    border-bottom: none;
}

.settings__button {
    font-family: 'Roboto Mono', monospace;
    outline: 1px solid;
    background-color: #77b6a287;
    border: 0;
    padding: .3rem 1rem;
    font-size: .8rem;
    transition: all 0.3 ease;
    cursor: pointer;
}

.tickets-page__add-new {
    /*margin: 0 1rem;*/
    /*display: flex;*/
    /*justify-content: flex-end;*/
    /*text-align: end;*/
}

.reports-page__title {
    display: flex;
    justify-content: center;
}


.admin-panel__search {
    box-sizing: content-box;
    height: 1rem;
    padding: .3rem;
    font-family: 'Roboto Mono', monospace;
    font-size: .8rem;
    border-color: #cfcfcf8f;
    border-style: solid;
    border-width: 1px;
    background-color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.admin-panel__search:focus {
    outline: none;
    border-color: #6a6a6a;
}

.admin-panel__link-table {
    display: block;
}

.cell-time {
    width: 25%;
}